#title {
  width: 288px;
  margin-top: 96px;

  color: #FFFFFF;
  font-style: normal;
  font-weight: normal;
  font-size: 48px;
  line-height: 56px;
}

.user-buttons {
  margin-top: 124px;
}

.user-button {
  background-color: #FFFFFF;
  width: 288px;
  height: 60px;
  margin-top: 24px;
  border: none;

  font-size: 24px;
  color: #5390AA;
}



