.habit-button {
  background-color: #FFFFFF;
  width: 132px;
  height: 132px;
  border-radius: 50%;
  border: none;

  color: #5390AA;
  font-size: 24px;
}

.habit-list {
  height: 60vh;
  max-height: 60vh;
  margin-top: 48px;
  margin-bottom: 48px;
  overflow-y: scroll;

  font-size: 24px;
}
