
.habit {
  padding: 12px;
}

.habit-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 12px;
  margin-top: 24px;
}

.habit-header:first-child {
  margin-top: 0;
}

.habit-timestamp {
  color: #C7C5C5;
}

.habit-name {
  color: #FFFFFF;
  display: inline;
}

.habit-content {
  font-size: 18px;
  color: #FFFFFF;
}