
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

#list-of-performed-habits {
  background-color: #79849c;
  height: 512px;
  overflow-y: scroll;
}

#tool-bar {
  position: absolute;
  width: 100%;
  bottom: 0;
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#add-habit-button {
  color: #61dafb;
}

#list-of-habits-header {
  margin-top: 48px;
}

#list-of-habits {
  padding: 24px;
}

.habit-button {
  color: #61dafb;
}
